ody:not(.facetwp) .locate-me {
  text-shadow: none !important; }

body:not(.facetwp) .locate-me {
  top: 0px;
  right: 10px;
  z-index: 10;
  position: absolute;
  cursor: pointer;
  width: 40px;
  height: 40px;
  text-align: center; }
  body:not(.facetwp) .locate-me:before {
    display: inline-block;
    font-family: "Ionicons";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #106cea;
    font-size: 16px;
    content: '\f2e9';
    line-height: 44px;
    text-align: center;
    display: inline-block; }
  body:not(.facetwp) .locate-me.loading:before {
    content: '\f29c';
    -webkit-animation: rotate 700ms infinite linear;
    -moz-animation: rotate 700ms infinite linear;
    animation: rotate 700ms infinite linear; }
  body:not(.facetwp) .locate-me ~ input[type="text"] {
    padding-right: 35px !important; }

body.facetwp .locate-me {
  right: 10px;
  top: -2px; }
