<section class="hero-slider slider-fullscreen">

  <ul class="slides">
    <li class="background-parallax">
      <!--    <img alt="Slider Background" class="background-image" src="img/hero2.jpg" />

      <div class="video-wrapper">
        <video autoplay muted loop>
          <source src="video/agency.webm" type="video/webm">
          <source src="video/agency.mp4" type="video/mp4">
          <source src="video/agency.ogv" type="video/ogg">
        </video>
        <div class="overlay background-dark-grey"></div>
      </div> -->

      <img alt="Slider Background" class="background-image" src="img/corporate1.jpg" />
      <div class="overlay background-dark-grey"></div>


      <div class="row slide-content">
        <div class="medium-10 medium-centered columns text-center">
          <h1 class="text-white underline">Food <i class="icon icon-genius"></i> Zone</h1>
          <p class="lead text-white">
            Pangaea is a sleek, fully responsive multi-purpose template with a ton of useful features and a distinctive minimal design.
            Truly a site to behold.
          </p>
          <!--   <a href="#more" class="button button-small button-white inner-link">Let's See More <br> find out <i class="icon icon_heart"></i></a>
          <a href="#" data-reveal-id="myModal" class="button button-small button-white button-filled">Sei un Rivenditore?<br>Registrati <i class="icon icon_star"></i></a>
       -->

        </div>

<div class="row" >
        <div class="medium-11 medium-centered columns text-center">
          <form class="" #form="ngForm" (ngSubmit)="getAziende(form.value)">


            
<div class="medium-3  columns" style="margin-top: 54px;">
              <input type="text"  name="search_keywords" id="search_keywords" placeholder="What are you looking for?">
</div>

<div class="medium-4 columns" style="margin-top: 54px;">
              <input type="text"  name="search_location" id="search_location" placeholder="Location" autocomplete="off">
              <i class="locate-me"></i>
              <input type="hidden" name="lat" value="" >
              <input type="hidden" name="lang" value="" >


</div>
              <!--  <input type="text" style="width:25%" name="search_category" id="search_category"
          placeholder="All Categories" autocomplete="off">
          <datalist id="cityname">
          <option value="Boston">
          <option value="Cambridge">
        </datalist> -->

<div class="medium-3 columns"  style="margin-top: 54px;" >
          <!--select class="selectpicker" name="category" >
            <optgroup label="Alaskan/Hawaiian Time Zone">
              <option data-tokens="ketchup mustard" value="AK">Alaska</option>
            </optgroup>
            <optgroup label="Pacific Time Zone">
              <option data-tokens="ketchup mustard" value="CA">California</option>
            </optgroup>

          </select-->
          <app-select-tipologie></app-select-tipologie>

</div>
              <!--      <span class="select2 select2-container select2-container--default select2-container--below select2-container--focus" dir="ltr" style="width: 100%;">
            <span class="selection">
              <span class="select2-selection select2-selection--single"
                role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-kapv-container">
                <span class="select2-selection__rendered" id="select2-kapv-container" title="Alaska">Alaska</span>
                <span class="select2-selection__arrow" role="presentation">
                  <b role="presentation"></b>
                </span>
              </span>
            </span>
            <span class="dropdown-wrapper" aria-hidden="true">
            </span>
          </span> -->


<div class="medium-1 columns left">
              <button type="submit" value="Search" class="button button-small button-white inner-link" data-label="Search" name="update_results">Search</button>
</div>

            
         
          </form>
          </div>  
        </div>
      </div>


    </li>
  </ul>
  <div id="myModal" class="reveal-modal">
    <!--<h1>Modal Title</h1>
     <p>Any content could go in here.</p> -->
    <a href="#more" class="button button-small button-reg-facebook button-filled">Registrati con Facebook</a>
    <a href="#more" data-reveal-id="myModalNext" dismissmodalclass="close-reveal-modal2" class="button button-small button-reg-email button-filled">Registrati con un indirizzo email</a>

    <p>Registrandomi, dichiaro di accettare i Termini del Servizio, le Politiche di non discriminazione, i Termini del servizio
      sui pagamenti, Informativa sulla Privacy, le Condizioni di Rimborso Ospiti e i Termini della Garanzia Host di Airbnb.</p>

    <a class="close-reveal-modal">&#215;</a>
  </div>

  <div id="myModalNext" class="reveal-modal">
    <!--<h1>Modal Title</h1>
     <p>Any content could go in here.</p> -->
    <app-form-registration></app-form-registration>
  </div>

</section>
<!--end of hero divider-->