<select class="selectTipologie radius" name="category" ngModel>

            <option *ngFor="let res of aziendaType" value="{{res.objectId}}">{{res.type}}</option>

            <!--optgroup label="Alaskan/Hawaiian Time Zone">
              <option value="AK">Alaska</option>
              <option value="HI">Hawaii</option>
            </optgroup>
            <optgroup label="Pacific Time Zone">
              <option value="CA">California</option>
              <option value="NV">Nevada</option>
              <option value="OR">Oregon</option>
              <option value="WA">Washington</option>
            </optgroup-->
</select>